:root{

  --bg-0: #010110;
  --bg-1: #020418;
  --bg-2: #030a22;

  --neo: #1497ff;
  --neo-2: #0e6fcb;

  --neo-soft:rgba(22,168,255,.18);
  --neo-border:rgba(22,168,255,.50);

  --txt:rgba(170,235,255,.88);
  --text-dim: rgba(140, 210, 255, .55);

  --card-r:64px;
  --input-r:10px;
  --btn-r:10px;
}

*{
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", sans-serif;
}

body {
  margin: 0;
}

h1, h2, p, input, button {
  padding: 0;
  margin: 0;
}
