.form {
    display: flex;
    max-width: 420px;
    width: 100%;
    flex-direction: column;
    /*background:*/
    /*        radial-gradient(900px 520px at 50% 10%, rgba(20, 151, 255, .12), transparent 58%),*/
    /*        linear-gradient(180deg, rgba(2, 5, 18, .82), rgba(1, 2, 14, .86));*/
    padding: 54px 44px 44px;
    border-radius: 64px;
    border: 1.5px solid rgba(42,168,255,.35);

    box-shadow:
            0 0 0 1px rgba(42,168,255,.18),
            0 0 55px rgba(42,168,255,.18),
            0 20px 80px rgba(0,0,0,.55),
            inset 0 0 55px rgba(42,168,255,.08);
    color: rgba(235, 248, 255, .96);
    text-align: center;
    align-items: center;
    gap: 15px;
}

.subtitle{
    font-size: 12px;
    letter-spacing: 2.5px;
    color: rgba(127,215,255,.65);
    margin-bottom: 28px;
}

.prompt_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}