.scifi-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5%;
  padding: 20px;
  background-color: #020111;
  color: #7fdbff;
  border: 1px solid #7fdbff;
}

.scifi-form {
  display: flex;
  align-items: flex-start;
}

.scifi-label {
  margin: 10px 0;
}

.file-input-container {
  position: relative;
  cursor: pointer;
}

.file-input-placeholder {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #7fdbff;
  padding: 5px;
  border: 1px solid #7fdbff;
}

.file-input-container input[type="file"] {
  width: 100%;
  padding: 8px;
  font-size: 30px;
  border: 1px solid #7fdbff;
  background-color: #020111;
  color: #7fdbff;
  opacity: 0;
  cursor: pointer;
}

.scifi-input,
.scifi-textarea,
.scifi-button {
  margin-top: 5px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #7fdbff;
  background-color: #020111;
  color: #7fdbff;
}

.scifi-input {
  width: 90%;
}

.scifi-button {
  width: 100%;
  cursor: pointer;
}

.scifi-button:hover {
  background-color: #7fdbff;
  color: #020111;
}

.categories-container {
  display: flex;
  flex-direction: row;
}

.category {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #7fdbff;
  background-color: #020111;
  color: #7fdbff;
}

.selected {
  background-color: #7fdbff;
  color: #020111;
}

.selected-categories {
  margin-top: 10px;
}

.selected-category {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #7fdbff;
  color: #020111;
}
