/* MenuBar.css */
.menu-bar {
  background-color: #020111;
  color: #7fdbff;
  display: flex;
  position: fixed;
  margin-top: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 300px;
  padding: 10px;
  position: fixed;
}

.menu-bar a {
  position: relative;
  color: #7fdbff;
  text-decoration: none;
  margin: 10px 0; /* Изменено: отступ сверху и снизу */
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-bar a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid #1565c0;
  box-sizing: border-box;
  z-index: -1;
  left: 0;
  top: 0;
  transition: background-color 0.3s ease-in-out;
}

.menu-bar a:hover:before {
  background-color: #1565c0;
}

.scifi-button {
  background-color: #1565c0;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  margin: 10px 0; /* Изменено: отступ сверху и снизу */
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.scifi-button:hover {
  background-color: #003366;
  color: #7fdbff;
}
