.pagination {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 10px;
  color: #020111;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.activePage {
  background-color: red;
}

.scifiPageLink {
  color: white;
}

.activeLink {
  color: #008cff;
}
