.posts-list-container {
  max-width: 800px;
  margin-top: 100px;
  padding: 20px;
  background-color: #020111;
  border: 1px solid #7fdbff;
  border-radius: 10px;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.filter-group {
  flex: 1;
  margin-bottom: 20px;
}

.filter-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #7fdbff;
}

.filter-input,
.filter-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #7fdbff;
  border-radius: 5px;
  background-color: #020111;
  color: #fff;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.filter-input::placeholder {
  color: #7fdbff;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.category {
  padding: 8px;
  background-color: #7fdbff;
  color: #020111;
  border: 1px solid #7fdbff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}

.category:hover {
  background-color: #1565c0;
}

.selected-categories {
  display: flex;
  flex-wrap: wrap;
}

.selected-category {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px;
  border: 2px solid #7fdbff;
  border-radius: 5px;
  display: inline-block;
  color: white;
  max-width: 100px;
  align-items: center;
  cursor: pointer;
}

.clear-button {
  padding: 10px;
  background-color: #7fdbff;
  color: #020111;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.clear-button:hover {
  background-color: #1565c0;
}

.posts-list {
  list-style: none;
  padding: 0;
}

.post-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #7fdbff;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  transition: transform 0.8s ease-in-out;
}

.post-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Indie Flower", cursive;
  font-size: 18px;
  height: 30px;
  margin-top: 15px;
  color: #7fdbff;
}

.post-title {
  color: #7fdbff;
}

.post-date,
.post-status,
.post-author,
.post-rating {
  margin-right: 10px;
}

.post-link {
  text-decoration: none;
  color: white;
}

.post-link:hover {
  text-decoration: none;
}

.post-container:hover {
  transform: scale(1.05);
}

.post-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

.post-status {
  &.active {
    color: rgb(0, 255, 0);
  }
  &.inactive {
    color: red;
  }
}

.post-rating {
  color: red;
}

.post-avatar:hover {
  border: 2px solid #3498db;
}
